* {
    padding:0;
    margin: 0;
    color:white;
}

#Navbar{
    height: 60px;
    background-color: #0f1111;
}
#logo{
    color:#f08804;
    font-size: 25px;
}
button{
    background-color:#f08804;
}

a{
    margin-right: 200px;
    text-decoration: none;
}
input{
    color:#0f1111;
}
